{% extends "doctor/base.html" %}

{%block content%}

<style type="text/css">
  .add_box li{
    margin: 1px 10px;
  }

</style>

<input id="loader" name="imagen" type="file" style="display: none;">

<div ng-controller="secAxCtr">
  <h1 class="pleft">{% if section.parent%}{{section.parent}}>{% endif%} {{section.sec_name}}</h1>
  <div class="add_box pright" >
    <a href="#slayingall" data-toggle="tooltip" 
       title="Elimina la seccion y todo su contenido de mdo permanente :O" 
       ng-click="slayer_sec($event,'{{section.pk}}');"><span class="lnr lnr-trash"></span></a>
  </div>
  <div class="clearfix"></div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menutool">
        <li><a href="#configurador">Configurar <span class="sr-only">(current)</span></a></li>
        <li><a href="#mainbox_home">Contenido</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>







<section id="configurador" ng-controller="insideCtr"  class="nava" style="display: none;">

  {% include 'doctor/categorias.html' %}

</section>


<section id="mainbox_home" ng-controller="configCtr" class="nava" >

{% include 'doctor/contenido.html'%}
</section>



<script id="imglg" type="text/ng-template">
  <ng-include src="'/static/views/largeimage.html'"></ng-include>
</script>

<script id="gridImg" type="text/ng-template">
    <ng-include src="'/static/views/grid.html'"></ng-include>
</script>

<script id="gridLink" type="text/ng-template">
    <ng-include src="'/static/views/gridlink.html'"></ng-include>
</script>

<script id="sideimg" type="text/ng-template">
    <ng-include src="'/static/views/sideimg.html'"></ng-include>
</script>

<script id="richtext" type="text/ng-template">
    <ng-include src="'/static/views/richtext.html'"></ng-include>
</script>



{%endblock%}

{% block extrajs%}
<script src="/static/js/configsectionctr.js"></script>


<script type="text/javascript">


var links = [];
{% for l in ligas %}
    links.push({pk:'{{l.pk}}',
                'src':'/{{l.src}}',
                'prevy':'/{{l.src}}',
                'link':'{{l.link}}',
    'columnax':'3',
    });
{% endfor %}

  
myapp.controller('configCtr',function($scope,$http){

    $scope.rowsSec = [];
    $scope.boxes = links;
    $scope.genralmodule='imglg';



  {% for r in section.rowsection_set.all %}

      medias = [];
      {% for img in r.mediasection_set.all %}
          texto ="";  


          medias.push({

            'pk':'{{img.pk}}',
            'title':'{{img.title}}',
            'texto':texto,
            'prevy':'/{{img.webimage}}',
            'imagesize':'{{img.dictconfigs.0.imagesize}}',
            'flotando':'{{img.dictconfigs.0.flotando}}',
            'invflotando':'{{img.dictconfigs.0.invflotando}}',
            'textsize':'{{img.dictconfigs.0.textsize}}'
          });

      {% endfor %}

      {% for img in r.linkmod_set.all %}
      
          medias.push({
            'pk':'{{img.pk}}',
            'title':'{{img.title}}',
            'link':'{{img.link}}',
            'prevy':'/{{img.imagen}}'
          });

      {% endfor %}

      {% for rtxt in  r.textmodule_set.all%}
          var texto = '{{rtxt.texto|safe}}'; //jQuery('{{rtxt.texto|safe}}').text().html();
          medias.push({
            'pk':'{{rtxt.pk}}',
            'texto':texto
          });

      {% endfor %}


    if (medias.length>0){
        medias = medias;
        columns = '{{r.configur}}';
    }
    else{
        medias = [{'prevy':'/static/imgs/link1.png'}];
        columnes = 1;
    }

    dbitem = {
        'pk':'{{r.pk}}',
        'module':'{{r.module}}',
        'orden':'{{r.orden}}',
        'name_module':'{{r.name_module}}',
        'title':'default',
        'nodeses':medias,
        'columns':'{{r.configur}}'
    };

    $scope.rowsSec.push(dbitem);
  {% endfor %}




  $scope.columns = 1;

  $scope.addRow = function(elem){
    setmodule = $scope.genralmodule;

    nodes = $scope.columns;    
    
    if(nodes<12 || nodes > 0)
      columnes = 12/nodes;
    else
      columnes = 12;

    item = {
        'section':'{{section.pk}}',
        'module':setmodule,
        'title':'default',
        'columns':$scope.columns,
        'nodeses':[],
        'columnes':columnes.toFixed()
    };

    for(i=0;i<nodes;i++){
      item.nodeses.push({
          'cc':'listo',
          'prevy':'/static/imgs/link1.png'
        });
    }

    uri = "{% url 'addrow' %}";
    $http({url:uri,method:'GET',params:item}).then(function(response){
      
      item.pk = response.data.pk;
    });

    $scope.rowsSec.unshift(item);
    $scope.genralmodule='imglg';

  }


  // ---------- ADDING GRID 

  $scope.addGrid = function(elem){

      var cabeceras = {'richtext':'textoHTML',
                       'sideimg':'Imagen Lateral',
                       'gridLink':'Links',
                       'gridImg':'Grid de Imagenes',
                       'imglg':'Imagen Larga'
                      };

      setmodule = $scope.genralmodule;
      nodes = $scope.columns;    
      

      item = {
          'section':'{{section.pk}}',
          'name_module':cabeceras[setmodule],
          'module':setmodule,
          'title':'grip',
          'nodeses':[],
          'columns':2,

      };


        item.nodeses.push({
            'id':'iddefault',
            'link':'/default/',
            'prevy':'/static/imgs/link1.png'
          });

      uri = "{% url 'addrow' %}";
      $http({url:uri,method:'GET',params:item}).then(function(response){
          item.pk = response.data.pk;
          $scope.rowsSec.push(item);
          $scope.genralmodule='imglg';
          toastr('success','Se agregó correctamente'); 
      });


    }

  // -----------END GRID

  $scope.slayed = function(elem){
    
    data = {'pk':elem.item.pk};
    data['csrfmiddlewaretoken']='{{csrf_token}}';
    data = $.param(data);
    uri = '{% url 'rmrow' %}';
    $http({url:uri,method:'POST',data:data}).then(function(response){
          if(response.data.removed=='ok'){
            toastr('success',response.data.msg);      
            $scope.rowsSec.splice(elem.$index,1);    
          }
          
    });


    //
    //$scope.imageChanged = false;


    //
  }


  var tmpList = [];
  
  for (var i = 1; i <= 6; i++){
    tmpList.push({
      text: 'Item ' + i,
      value: i
    });
  }
  
  $scope.list = tmpList;
  
  
  $scope.sortingLog = [];
  
  $scope.sortableOptions = {
    stop: function(e, ui) {
      var neworder = '';
      var rowx = ui.item.parent('ul:first');
      jQuery.each(jQuery(rowx).children('li'),function(x,y){
        nw = {};
        pk = jQuery(y).attr('data-pk');
        indexx = jQuery(y).index();
        neworder = neworder + 'pk='+pk+'|'+indexx+'&';
      });

        $http({url:'/admon/reorder/?'+neworder,method:'GET'}).then(function(response){
            swal(response.data.msg);
        });


      console.log(neworder);

      }
  };


  $scope.myImage='';
    $scope.myCroppedImage='';
    $scope.imageChanged = false;
    $scope.sec_name = '{{section.sec_name}}';
    $scope.page_type = '{{section.page_type}}';
    $scope.section = {'pk':'{{section.pk}}',
                      'webimage':'{{section.webimage}}',
                      'sec_name':'{{section.sec_name}}',
                      'orden':'{{section.orden}}'};
    $scope.sons = [];
    $scope.tochange = null;
    $scope.boxes = [];
    $scope.imageCropResult = null;
          $scope.showImageCropper = false;

          $scope.$watch('imageCropResult', function(newVal) {
            if (newVal) {
              console.log('imageCropResult', newVal);
            }
            
    });


    $scope.changesec = function(elem){
      $scope.section.sec_name = $scope.sec_name;
      $scope.section.page_type = $scope.page_type;
      data = {};
      data['pk']=$scope.section.pk;
      data['sec_name']=$scope.sec_name;
      data['page_type']=$scope.page_type;
      data['orden']=$scope.section.orden;
      data['csrfmiddlewaretoken']='{{csrf_token}}';
      data = $.param(data);
      uris = "{% url 'addsection' %}";

        $http({url:uris,method:'POST',data:data}).then(function(response){
          if(response.data.saved=='ok')
            toastr('success','Sección se guardo con éxito');
          else
            toastr('warning','Algo salió mal :(');    
        });
    }


  $scope.addBox = function(elem){
    elem.item.nodeses.push({'prevy':'/static/imgs/link1.png','columnax':3});
  }

  $scope.changeme = function(elem){
    jQuery('#loader').click();

    $scope.tochange = elem;
    $scope.imageChanged = true;
    //elem.box.src = 'reader.result';
    
  }




  $scope.crup=function(evt) {
      var file=evt.currentTarget.files[0];
      var reader = new FileReader();
      reader.onload = function (evt) {
        $scope.$apply(function($scope){
              $scope.tochange.box.src = evt.target.result;
            //$scope.tochange.myImage=evt.target.result;
            $scope.tochange.vi=true;
            //$scope.imageChanged = false;
        });
      };
      reader.readAsDataURL(file);
    };


$scope.crupandsavemainimg = function(evt){

      var file=evt.currentTarget.files[0];
      var reader = new FileReader();
      reader.onload = function (evt) {
        $scope.$apply(function($scope){
            $scope.tochange.webimage = evt.target.result;
            $scope.tochange.sectionmainimage=evt.target.result;
            $scope.tochange.vi=true;
            
        });
      };
      reader.readAsDataURL(file);


}


/* for sec image main*/
  $scope.addimagesection = function(elem){
    jQuery('#loadermainimage').click();
      $scope.tochange = elem;
  }




  $scope.loadfoto=function(e){


    var file    = e.currentTarget.files[0];
      var reader  = new FileReader();

      reader.onloadend = function (evtx) {
      $scope.$apply(function($scope){
              $scope.tochange.box.src = reader.result;
            });
      }

      if (file) {
        reader.readAsDataURL(file);
      } 

  }


$scope.downloadfielinstance = null;
$scope.putfileon = function(elem){
    $scope.downloadfielinstance = elem[0];
}  
$scope.save_download = function(elem){
    fieltoup = $scope.downloadfielinstance;
    urix = "{% url 'savedownload' %}";
    data = {};
    if($scope.imageChanged==true){
        data['imagen']=elem.box.src.replace(/^data:image\/(png|jpeg);base64,/, "");
    }
    data['title'] = elem.box.title;
    data['pkid']=elem.box.pk;
    data['rowpk']=elem.item.pk;
    data['dwfile']=fieltoup;
    data['columns']=elem.item.columns;
    data['csrfmiddlewaretoken']='{{csrf_token}}';
    data = $.param(data);
    uri = "{% url 'savedownload' %}";
    
    $http({url:uri,method:'POST',
        data:data,
        headers: {'Content-Type': undefined },
        transformRequest: angular.identity
    }).then(function(response){
      //elem.box.pk=response.data.pk;
      //toastr('success','Se guardó con éxito');          
    });
    
  }





  $scope.save_link = function(elem){

    urix = "{% url 'savior' %}";
    data = {};
    if($scope.imageChanged==true){
        data['webimage']=elem.box.src.replace(/^data:image\/(png|jpeg);base64,/, "");
    }

      if(elem.box.flotando)
        data['flotando'] = elem.box.flotando;
      if(elem.box.invflotando)
        data['invflotando'] = elem.box.invflotando;        
      if(elem.box.imagesize){
        data['imagesize'] = elem.box.imagesize;
        data['textsize'] = elem.box.textsize;
      }


        data['title'] = elem.box.title;
        data['pkid']=elem.box.pk;
        data['rowpk']=elem.item.pk;
        data['texto']=elem.box.texto;
        data['columns']=elem.item.columns;
        data['csrfmiddlewaretoken']='{{csrf_token}}';
        data['step']=2;
        data['csrfmiddlewaretoken']='{{csrf_token}}';    
        data = $.param(data);
        uri = "{% url 'addmedia' %}";
        $http({url:uri,method:'POST',data:data}).then(function(response){
          elem.box.pk=response.data.pk;
          toastr('success','Se guardó con éxito');          
        });
    $scope.micro = false;
  }






  $scope.save_richtext = function(elem){

    data = {};

        data['pkid']=elem.box.pk;
        data['rowpk']=elem.item.pk;
        data['texto']=elem.box.texto;
        data['columns']=elem.item.columns;
        data['step']=2;
        data['csrfmiddlewaretoken']='{{csrf_token}}';    
        data = $.param(data);
        uri = "{% url 'savior' %}";
        $http({url:uri,method:'POST',data:data}).then(function(response){
          elem.box.pk=response.data.pk;
          toastr('success','Se guardó con éxito');          
        });
    $scope.micro = false;
  }



  $scope.save_gridlink = function(elem){

    data = {};
    if($scope.imageChanged==true){
        data['imagen']=elem.box.src.replace(/^data:image\/(png|jpeg);base64,/, "");
    }
        data['title'] = elem.box.title;
        data['pkid']=elem.box.pk;
        data['rowpk']=elem.item.pk;
        data['link']=elem.box.link;
        data['columns']=elem.item.columns;
        data['csrfmiddlewaretoken']='{{csrf_token}}';
        data['step']=1;
        data['csrfmiddlewaretoken']='{{csrf_token}}';    
        data = $.param(data);
        uri = "{% url 'savior' %}";
        $http({url:uri,method:'POST',data:data}).then(function(response){
          elem.box.pk=response.data.pk;
          toastr('success','Se guardó con éxito');          
        });
    $scope.micro = false;
  }


    angular.element(jQuery('#loader')).on('change',function(e){
      $scope.crup(e);
    });


    angular.element(jQuery('#loadermainimage')).on('change',function(e){
      $scope.crupandsavemainimg(e);
    });




});



</script>

<script type="text/javascript">
  

 function ishomer(){

    if($(this).is(':checked'))
        data = {'sec':'{{section.pk}}'};
    else
        data = {};

    data['csrfmiddlewaretoken']='{{csrf_token}}';
    
    uri = "{% url 'ishome' %}";
    
    $.ajax({
        url:uri,data:data,method:'POST',dataType:'json',
        success:function(response){
            console.log(response.ishome);
        }
    });
  }





$(document).ready(function(){


    $('#ishome').click(ishomer);
    $('.menutool li a').click(function(){
      $('.nava').hide('speed');
      var mytab = $(this).attr('href').replace('','');
      $(''+mytab).show('slow');

    });

    $('[data-toggle="tooltip"]').tooltip(); 

});


</script>


{%endblock%}
