<div  ng-controller="menuMaster">
    

       <div style="text-align: center;width: 100%;padding:20px 0px;">
            <input type="file" id="logofile" style="display: none;">
            <img src="/static/imgs/logo.png" ng-src="||logofile||" style="cursor: pointer;" ng-init="logofie='/static/imgs/logo.png'" width="65px" />
        </div>
            <div style="text-align: center;margin-top: 80px;">
                <a href="/?P=01" style="color:#fff;">VER SITIO</a>


                <h1 style="color:#fff;font-size:14px;"> 
                    Hola! 
                    {{request.user.first_name}} 
                    {{request.user.last_name|default:''}}
                </h1>


            </div>

        <br/><br/>

        <div style="padding:10px 5%;text-align: center;" class="logouts">
                <a href="/?logout=1" style="color:#fff;">
                    <span class="lnr lnr-power-switch"></span>
                </a>
        </div>


</div>




