{% extends "mainapp/base.html" %}

{% block extrajs %}{% endblock %}


{%block content%}

	
	<div class="home-sec">
		<div style="display:table-row;background-color:rgba(0,0,0,0.2);">
			<div class="txt_pric" style="display: table-cell;vertical-align: middle;height:100%;text-align:left;padding:0% 10%;">
				<h1>Normatividad</h1>
				<h1>Claro</h1>
			</div>
		</div>
	</div>

	<div class="row" style="text-align: center;margin:4% 0%; ">
		<div class="col-xs-12 col-md-12">
		<h1>Gracias por su compromiso</h1>
		<div>
			Gracias por su compromiso.El total apego a los lineamientos asegurará consistencia en la imagen de marca y ayudará a destacar la presencia de Claro a nivel internacional. Contamos con el apoyo de las áreas de mercadotecnia para supervisar la correcta aplicación de la normatividad y lograr en el corto plazo una marca global, sólida y coherente.
		</div>
		</div>
	</div>





{%endblock%}



