{% extends "admins/base.html" %}



{%block content%}

<section class="container-fluid" style="margin:20px auto;">

<div style="padding:0px 2%" >
	<h1>USUARIOS</h1>
</div>


        <div id="main_box" >        
          <div>
                
               
                    <div class="tabla headgray">
                      <div class="trow">
                        <div class="tcol" style="vertical-align:middle;padding:10px;padding-left: 40px;">
                          MENSAJE
                        </div>
                        <div class="tcol" style="vertical-align: middle;text-align: left;">
                        
                        </div>
                        <div class="tcol" style="vertical-align: middle;text-align:center;width:90px;">

                        </div>


                        <div class="tcol killbtn">

                        </div>
                      </div>
                    </div>

                    <div>


		<form name="secure" action="{% url 'sender'%}" method="post" class="senditer" id="sendermail_form">
			<input type="hidden" name="pk" value="{{pk}}">
			{% csrf_token %}


			<table style="width:100%;" class="trackuser">
				<tr>
					<td colspan="2">
						<div style=""><label>SUBJECT</label></div>
						<div>
							{{forma.subject_sender}}
						</div>
					</td>

				</tr>



				<tr>
					<td colspan="2">
						<div style=""><label>TEXTO</label></div>
						<div>
							
						<text-angular name="texto" id="id_texto"></text-angular-toolbar>

						</div>
					</td>
				</tr>


				<tr>
					<td>
					
						<div style="text-align: ;"><label>CORREO(S), Separados por ;</label></div>
						<div>
							{{forma.email_sender}}
						</div>											
					</td>
					<td>
						<div style=""><label>ENVIAR A TODOS</label></div>
						<div>
							{{forma.all_users}}
						</div>
					</td>

				</tr>

				<tr>
					<td colspan="2" style="display: none">
					
						<div style="text-align: ;"><label>CORREO(S), Separados por ,</label></div>
						<div>
							{{forma.attached}}
						</div>											
					</td>


				</tr>


			</table>

			<div style="text-align:left;margin-top:2vmax;margin-left:12px;">
				<button type="submit" class="ok_btn_grey_left">Enviar</button>
				<a href="/admin/sender/" class="ok_btn_grey_left">Cancelar</a>
			</div>

		</form>

                    </div>

          </div>
        </div>



</section>


{% endblock %}


{% block extrajs %}

	<script type="text/javascript">
		
	function sendedmail(){

			 toastr('success','La información se envío correctamente.');
			 document.getElementById('sendermail_form').reset();

	}

		$(document).ready(function(){


			$('.senditer').submit(sendit);


			$("#id_all_users").click(function() {  
		        if($(this).is(':checked')) {  
		            $('#id_email_sender').attr('readonly','readonly').val('all');  
		        } else {  
		            $('#id_email_sender').removeAttr('readonly').val('');  
		        }  
		    });  



		});


	</script>


{% endblock %}